/* CSS Document */

body{
	min-height:100%;
	padding:0;
	background-color:red;
}

#maingame{
	height: 400px; 
	width: 800px; 
	margin: 0 auto;
	overflow: auto;
	color: white;
}
#maingame p {
	color: white;
	display: none;
	font-size: 17px;
}
.game-wrapper{
	padding:15px;
}
.question_area{
	width:100%;
	margin:0 auto;
}
#questions{

}

#second, #first, #third, #fourth{
	display:none;
}